In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv(r"C:\Users\JOSEPH\Documents\movies.csv")

In [3]:
movies.head(10)

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,...,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,09-06-2015,5562,6.5,2015,1.379999e+08,1.392446e+09,1363528810,High
1,1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,...,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,13-05-2015,6185,7.1,2015,1.379999e+08,3.481613e+08,228436354,High
2,2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,...,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,18-03-2015,2480,6.3,2015,1.012000e+08,2.716190e+08,185238201,High
3,3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,...,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,15-12-2015,5292,7.5,2015,1.839999e+08,1.902723e+09,1868178225,High
4,4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,...,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,01-04-2015,2947,7.3,2015,1.747999e+08,1.385749e+09,1316249360,High
5,5,281957,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,http://www.foxmovies.com/movies/the-revenant,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,...,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,25-12-2015,3929,7.2,2015,1.241999e+08,4.903142e+08,397950503,High
6,6,87101,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,http://www.terminatormovie.com/,Alan Taylor,...,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,23-06-2015,2598,5.8,2015,1.425999e+08,4.053551e+08,285603537,High
7,7,286217,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,...,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,30-09-2015,4572,7.6,2015,9.935996e+07,5.477497e+08,487380321,High
8,8,211672,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,http://www.minionsmovie.com/,Kyle Balda|Pierre Coffin,...,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,17-06-2015,2893,6.5,2015,6.807997e+07,1.064192e+09,1082730962,High
9,9,150540,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,http://movies.disney.com/inside-out,Pete Docter,...,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,09-06-2015,3935,8.0,2015,1.609999e+08,7.854116e+08,678708609,High

In [4]:
movies.describe()

,Unnamed: 0,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit
count,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1287.000000,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1.287000e+03
mean,4125.843046,52557.491064,1.786022,5.200349e+07,1.762444e+08,110.273504,947.266511,6.279487,2007.017094,5.462994e+07,1.991775e+08,1.242409e+08
std,2671.936574,74450.077163,2.172137,5.514540e+07,2.538156e+08,18.811369,1255.476215,0.795955,8.060503,5.525463e+07,2.968515e+08,2.183462e+08
min,0.000000,11.000000,0.010335,1.000000e+00,4.300000e+01,63.000000,10.000000,2.200000,1961.000000,9.693980e-01,4.300000e+01,-4.139124e+08
25%,1972.000000,5851.500000,0.664783,1.400000e+07,2.565097e+07,97.000000,179.000000,5.800000,2005.000000,1.519180e+07,2.764890e+07,3.142641e+06
50%,3523.000000,20178.000000,1.152354,3.200000e+07,8.208716e+07,107.000000,439.000000,6.300000,2009.000000,3.556927e+07,8.674770e+07,4.524300e+07
75%,6554.500000,62209.500000,2.125342,7.000000e+07,2.140694e+08,121.000000,1173.000000,6.800000,2011.000000,7.630125e+07,2.351178e+08,1.470070e+08
max,10760.000000,333348.000000,32.985763,4.250000e+08,2.781506e+09,201.000000,9767.000000,8.300000,2015.000000,4.250000e+08,2.827124e+09,2.544506e+09

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1287 entries, 0 to 1286
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1287 non-null   int64
 1   id                    1287 non-null   int64
 2   imdb_id               1287 non-null   object
 3   popularity            1287 non-null   float64
 4   budget                1287 non-null   int64
 5   revenue               1287 non-null   int64
 6   original_title        1287 non-null   object
 7   cast                  1287 non-null   object
 8   homepage              1287 non-null   object
 9   director              1287 non-null   object
 10  tagline               1287 non-null   object
 11  keywords              1287 non-null   object
 12  overview              1287 non-null   object
 13  runtime               1287 non-null   int64
 14  genres                1287 non-null   object
 15  production_companies  1287 non-null   object
 16  release_date          1287 non-null   object
 17  vote_count            1287 non-null   int64
 18  vote_average          1287 non-null   float64
 19  release_year          1287 non-null   int64
 20  budget_adj            1287 non-null   float64
 21  revenue_adj           1287 non-null   float64
 22  profit                1287 non-null   int64
 23  popularity_level      1286 non-null   object
dtypes: float64(4), int64(8), object(12)
memory usage: 241.4+ KB

In [6]:
movies.isnull().sum()

Unnamed: 0              0
id                      0
imdb_id                 0
popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
homepage                0
director                0
tagline                 0
keywords                0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
profit                  0
popularity_level        1
dtype: int64

In [8]:
movies.columns

Index(['Unnamed: 0', 'id', 'imdb_id', 'popularity', 'budget', 'revenue',
       'original_title', 'cast', 'homepage', 'director', 'tagline', 'keywords',
       'overview', 'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit', 'popularity_level'],
      dtype='object')

In [9]:
movies=movies[['id','original_title','genres','overview']]

In [10]:
movies

,id,original_title,genres,overview
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...,...
1282,253,Live and Let Die,Adventure|Action|Thriller,James Bond must investigate a mysterious murde...
1283,660,Thunderball,Adventure|Action|Thriller,A criminal organization has obtained two nucle...
1284,668,On Her Majesty's Secret Service,Adventure|Action|Thriller,James Bond tracks archnemesis Ernst Blofeld to...
1285,948,Halloween,Horror|Thriller,"A psychotic murderer, institutionalized since ..."
1286,8469,Animal House,Comedy,"At a 1962 College, Dean Vernon Wormer is deter..."

In [11]:
movies['tags']=movies['overview']+movies['genres']

C:\Users\JOSEPH\AppData\Local\Temp\ipykernel_10756\2350984780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['overview']+movies['genres']

In [12]:
movies

,id,original_title,genres,overview,tags
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...,...,...
1282,253,Live and Let Die,Adventure|Action|Thriller,James Bond must investigate a mysterious murde...,James Bond must investigate a mysterious murde...
1283,660,Thunderball,Adventure|Action|Thriller,A criminal organization has obtained two nucle...,A criminal organization has obtained two nucle...
1284,668,On Her Majesty's Secret Service,Adventure|Action|Thriller,James Bond tracks archnemesis Ernst Blofeld to...,James Bond tracks archnemesis Ernst Blofeld to...
1285,948,Halloween,Horror|Thriller,"A psychotic murderer, institutionalized since ...","A psychotic murderer, institutionalized since ..."
1286,8469,Animal House,Comedy,"At a 1962 College, Dean Vernon Wormer is deter...","At a 1962 College, Dean Vernon Wormer is deter..."

In [13]:
new_data=movies.drop(columns=['overview','genres'])

In [14]:
new_data

,id,original_title,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
1282,253,Live and Let Die,James Bond must investigate a mysterious murde...
1283,660,Thunderball,A criminal organization has obtained two nucle...
1284,668,On Her Majesty's Secret Service,James Bond tracks archnemesis Ernst Blofeld to...
1285,948,Halloween,"A psychotic murderer, institutionalized since ..."
1286,8469,Animal House,"At a 1962 College, Dean Vernon Wormer is deter..."

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
cv=CountVectorizer(max_features=1287,stop_words='english')

In [19]:
cv

CountVectorizer(max_features=1287, stop_words='english')

In [20]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [21]:
vector.shape

(1287, 1287)

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
similarity=cosine_similarity(vector)

In [24]:
similarity

array([[1.        , 0.29918304, 0.32025631, ..., 0.19088543, 0.0836242 ,
        0.        ],
       [0.29918304, 1.        , 0.15569979, ..., 0.18560647, 0.08131156,
        0.        ],
       [0.32025631, 0.15569979, 1.        , ..., 0.13245324, 0.08703883,
        0.        ],
       ...,
       [0.19088543, 0.18560647, 0.13245324, ..., 1.        , 0.06917145,
        0.        ],
       [0.0836242 , 0.08131156, 0.08703883, ..., 0.06917145, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [25]:
new_data[new_data['original_title']=='Star Wars: The Force Awakens'].index[0]

3

In [37]:
import pandas as pd
import numpy as np
distance = sorted(list(enumerate(similarity[7])), key=lambda x: x[1])
middle_index = len(distance) // 7
if len(distance) % 7 == 1:
    print(new_data.iloc[distance[middle_index][0]].original_title)
else:
    print(new_data.iloc[distance[middle_index][0]].original_title)

The Dictator

In [51]:
def recommend(movies):
    if movies in new_data['original_title'].values:
        try:
            index = new_data[new_data['original_title'] == movies].index[0]
            distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])[1:6]

            print(f"Top 5 recommended movies based on '{movies}':")
            for i in distance:
                print(new_data.iloc[i[0]]['original_title'])
        except IndexError:
            print("Movie not found in the dataset.")
        except Exception as e:
            print(f"An error occurred: {e}")
    else:
        print(f"'{movies}' not found in the dataset. Please check the movie title.")

In [52]:
recommend("Insurgent")

Top 5 recommended movies based on 'Insurgent':
The Hunger Games: Mockingjay - Part 1
Atlas Shrugged Part I
The Happening
Jupiter Ascending
Iron Man

In [53]:
import pickle

In [54]:
pickle.dump(new_data,open('movies_list.pkl','wb'))

In [55]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [56]:
pickle.load(open('movies_list.pkl','rb'))

,id,original_title,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
1282,253,Live and Let Die,James Bond must investigate a mysterious murde...
1283,660,Thunderball,A criminal organization has obtained two nucle...
1284,668,On Her Majesty's Secret Service,James Bond tracks archnemesis Ernst Blofeld to...
1285,948,Halloween,"A psychotic murderer, institutionalized since ..."
1286,8469,Animal House,"At a 1962 College, Dean Vernon Wormer is deter..."